* {
    box-sizing: content-box;
}



.card img:hover {
    opacity:0.8;
    filter: hue-rotate(180deg);
    transition: 120px;
}

.card img {
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
   
.zoom-effect:hover .card img {
    -webkit-transform: scale(2.00);
    transform: scale(2.00);
}



